 <form class="login">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" data-reg=".+@.+\..+" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" data-reg="[^а-яА-Я]{6,}">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>